@import "tailwindcss";
@layer utilities {
  .message-icon {
    @apply size-12 rounded-full;
  }
  .chat-message {
    @apply flex items-center rounded-lg bg-gray-600 p-3 text-white;
  }
  .message-time {
    @apply text-sm text-gray-400;
  }
}
