@import "tailwindcss";

@layer utilities {
  .chat-messages-group {
    @apply overflow-scroll;
  }
  .chat-messages-group {
    scrollbar-width: none;
  }
  .user-chat {
    @apply my-4 flex justify-end gap-2;
  }
  .robot-chat {
    @apply my-4 flex items-start justify-start gap-2;
  }
  .user-chat p,
  .robot-chat p {
    @apply max-w-100;
  }
}
