body {
  margin: 10px;
}
input {
  border: 1px solid black;
}
button {
  color: white;
  background-color: darkblue;
  padding: 0.25em 1em;
  cursor: pointer;
}
button:active {
  opacity: 0.7;
}
.message-icon {
  width: 50px;
}
.chat-messages {
  display: flex;
  gap: 8px;
}
.chat-message {
  background-color: gray;
  display: flex;
  align-items: center;
  padding: 0.75em;
  border-radius: 0.5em;
}
