@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-400;
  }
  input {
    @apply mr-4 rounded-lg border-2 px-2 py-1 text-black;
  }
  button {
    @apply mx-1 cursor-pointer rounded-lg px-8 py-2 font-medium active:opacity-70;
  }
}
@layer utilities {
  #root {
    @apply mx-auto mt-3 flex h-screen w-full max-w-150 flex-col justify-between rounded-2xl bg-gray-300 p-4;
  }
}
